<!DOCTYPE html>
<html lang="en" class="font-marketsans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../../resources/static/css/styles.css" rel="stylesheet" type="text/css" media="screen">
<title>Gamrr - About Page</title>
</head>
<body>
<div id="outer_border">
    <div id="inner_border">
        <div title="header">
        	<header class="header_banner">
            <h1 class="header_items">Searchbox</h1>
            <img class="header_items" src="file:../../../resources/static/img/Gamrr_logo.png" width="200rem" alt="Gamrr" title="logo">
            </header>
        </div>
        <div id="main_body">
        	<div id="navbar">
            </div>
            <div id="main_page_image">
            </div>
            <h1>Gamrr</h1>
            <h2>Trade your games at their actual value</h2>
            <p>The online video games trading market that allows everyone to trade their games at retail value. Unlike other companies that reduce the value of games provided by customers, we take the initiative to promote users trading their video games at their true value. In doing this, we do not allow for financial transactions to increase or decrease a value of games. Members use PayPal to execute financial transactions relating to postage and packaging.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt laoreet mi ornare tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam nec ligula ullamcorper eros mollis dictum non vitae enim. Nam convallis diam diam. Fusce augue elit, rhoncus quis lobortis vel, molestie eu mi. Ut consectetur id augue at laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ligula tellus, vehicula vel feugiat eu, consequat vel est. Aliquam non eleifend tellus. In sapien dui, interdum eget massa in, suscipit semper eros. In hac habitasse platea dictumst. Praesent sit amet est neque. Vestibulum at consectetur sem. In pulvinar odio vel auctor hendrerit. Duis vitae mattis mi. Sed pulvinar pulvinar sem sit amet eleifend.</p>
            <img src="file:../../../resources/static/img/Size_Of_Trading_Infographic_Number_Game.jpeg">
        </div>
        <div id="footer_banner">
        	<footer>
            <p id="footer_info">&copy; TT Copyright 2018 &copy;</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>