<!DOCTYPE html>
<html lang="en" class="font-marketsans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../../resources/static/css/styles.css" rel="stylesheet" type="text/css" media="screen">
<title>Gamrr - Trades Page</title>
</head>
<body>
<div id="outer_border">
    <div id="inner_border">
        <div title="header">
        	<header class="header_banner">
            <h1 class="header_items">Searchbox</h1>
            <img class="header_items" src="file:../../../resources/static/img/Gamrr_logo.png" width="200rem" alt="Gamrr" title="logo">
            </header>
        </div>
        <div id="main_body">
        	<div id="navbar">
            </div>
            <div id="main_page_image">
            </div>
            <h1>Trade Results</h1>
            <h2>Showing active trades for $Game_Name</h2>
            <div id="games_returned_by_query">
            	<div class="single_game_result">
                	<img src="file:../../../resources/static/img/mock_image_of_trade_results.png" class="games_list_on_trades" alt="trade1">
                    <p>Physical or Digital copy?</p>
                </div>
                <div class="single_game_result">
                	<img src="file:../../../resources/static/img/mock_image_of_trade_results.png" class="games_list_on_trades" alt="trade2">
                    <p>Physical or Digital copy?</p>
                </div>
                <div class="single_game_result">
                	<img src="file:../../../resources/static/img/mock_image_of_trade_results.png" class="games_list_on_trades" alt="trade3">
                    <p>Physical or Digital copy?</p>
                </div>
                <div class="single_game_result">
                	<img src="file:../../../resources/static/img/mock_image_of_trade_results.png" class="games_list_on_trades" alt="trade4">
                    <p>Physical or Digital copy?</p>
                </div>
                <div class="single_game_result">
                	<img src="file:../../../resources/static/img/mock_image_of_trade_results.png" class="games_list_on_trades" alt="trade5">
                    <p>Physical or Digital copy?</p>
                </div>
            </div>
        </div>
        <div id="footer_banner">
        	<footer>
            <p id="footer_info">&copy; TT Copyright 2018 &copy;</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>